.homeComponent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #33658a;
}
.container{
  padding-bottom: 7.5rem;
}

.container h1{
  padding-top: 2rem;  
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
}

.geladissimo{
  position: fixed;
  bottom: 280px;
  left: -30px;
  max-width: 1000px;
  height: 500px;

  transform: rotate(12deg);
}

p{
  padding-top: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}

@media screen and (max-width: 480px){
  .container h1{
    font-size: 2rem;
  }

  .container p{
    font-size: 0.75rem;
  }

  .geladissimo{
    display: none;
  }
}

@media screen and  (max-width: 600px){
  h1{
    font-size: 2rem;
  }

  p{
    font-size: 1rem;
  }

  .geladissimo{
    display: none;
  }
}

@media screen  and (max-width: 1440px){
  h1{
    font-size: 3rem;
  }

  p{
    font-size: 1.25rem;
  }
  
  
  .geladissimo{
    position: fixed;
    bottom: 280px;
    left: -30px;
    width: 200px;
    height: 300px;
  
    transform: rotate(12deg);
  }
}




