.saboresContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
  padding-top: 60px;
  justify-content: center;
  align-content: center;
  width: 60%;
}

li {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  justify-content: center;
  color: #33658a;
  border-radius: 15px;
  border: 1px solid #151515;
  width: 180px;
  padding: 10px;
}

a {
  display: flex;
  justify-content: center;
  color: #33658a;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  font-size: 1.75rem;
  width: 100%;
}

a:hover{
  color: #55dde0;
}
